
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Great+Vibes&display=swap');

*{
    border: 0px;
    margin: 0px;
}
body{
    cursor: pointer;
}
.t{
    background-color:  #D2E9E9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
}
h1{
    text-align: center;
    padding:3px;
    font-family: 'Great Vibes', cursive;
    font-size:50px;
    background-color:  #D2E9E9;
    padding-top: 9px;
    
    
}
.todo{
    background-color: bisque;
    height:fit-content;
    width: 1000px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    align-self: center;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 40px;
    
    
    
}
ul{
    background-color: #E1AA74;
    width: 500px;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 2px;
    border-radius: 15px;
    
    overflow-y: scroll;
    overflow:auto;
}
ul li:not(#title){
    list-style-type: none;
    background-color:#F3F0CA;
    padding:20px;
    width: 250px;
    min-height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: 2px 2px 5px 0px rgba(25, 1, 1, 0.5);
    border-radius: 10px;
    text-wrap: 120px;
    
    
}
#title{
    background-color:#192655;
    margin-top: 0px;
    padding:7px;
    list-style-type: none;
    padding: 15px 20px;
    width: 350px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
h4{
    text-align: center;
}

#add{
    background-color:orangered;
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 0px  10px 3px 0px;
}
button:not(#add){
    background-color: orangered;
    padding:6px 10px; 
    text-align: center;
    color: white;
    border-radius:50%;
    cursor: pointer;
}

.input{
    background-color:#192655;
    color: white;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}
#input{
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px  0px 0px 3px;
}

#input:focus,       
textarea:focus {
  outline: none; /* Remove the default focus outline */
}


.creator{
    position: fixed;
    font-size: 20px;
    bottom: 15px;
    right: 20px;
}

li:not(#title){
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-wrap: wrap 150px;
    overflow-wrap: break-word;
}

li button{
    align-self:center;
}
